/* .hero-banner{
    background-image: url('../../client/src/assets/images/salad.png');
    width:100vw;
    height:50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:2rem;
} */