.navbar-container{
    display:flex;
    align-items: center;
    margin-top:1rem;
}

h1{
    font-size: 5rem;
    font-weight: bold;
    color:white;
    margin:0 auto;
}

.burger-menu-icon{
    width:2rem;
    height:2rem;
    margin-left:1.5rem;
}
