/* Onboarding heading */
.onboarding-container{
    width:85%;
    margin:0 auto;
}

.onboarding-container .triangle{
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 60px solid var(--orange);
    border-bottom: 30px solid transparent;
    margin-top:5rem;

}
.onboarding-container h1{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--gray);
    text-decoration-thickness: .3rem;
    letter-spacing: .4rem;
    font-size: 4rem;
    font-weight:bold;
    position: relative;
    left:3.25rem;
    bottom:2rem;
}

/* form */
.onboarding-container{
    color:white;
}
.form-container{
    background-color:rgba(0,0,0,.2);
    box-shadow: 0px 0px 7px #ACACAC;
    border-radius: 10px;
    height:75vh;
    margin-bottom:6rem;
}
.onboarding-container .form-wrapper{
    margin:0 auto;
    width:70%;
    position: relative;
    top:5rem;
}
.onboarding-container .form-wrapper h3{
    color:var(--orange);
    font-size: 2.25rem;
    margin-top:3rem;
}
.onboarding-container .form-wrapper span{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}
.onboarding-container label{
    color:var(--gray);
    font-size: 1.35rem;
    margin:1.25rem 0;
    display: block;
    font-weight: bold;
}
.onboarding-container input{
    border-radius: 10px;
    width:100%;
    margin-top:.5rem;
    display:block;
}
.onboarding-container form{
    margin-top:4rem;
}

/* button */
.onboarding-container .form-wrapper button{
    border:solid 1px var(--orange);
    color:white;
    background-color: transparent;
    border-radius: 15px;
    width:65px;
    height:30px;
    margin-bottom:1rem;
    margin-top:1.25rem;
}
.onboarding-container .form-wrapper button:hover{
    background-color: var(--orange);
    color:black;
}
.onboarding-container .onboarding-buttons{
    display:flex;
    align-items: flex-end;
    flex-flow:column;
}
.onboarding-container .onboarding-buttons a{
    color:var(--gray);
    font-size: 1.1rem;
    text-decoration: none;
}
.onboarding-container .onboarding-buttons a:hover{
font-size: 1.24rem;
}
