.triangle-container h1{
    position: relative;
    bottom:4.75rem;
    left:2.5rem;
    text-decoration: underline;
    text-decoration-color:var(--gray);
    text-decoration-thickness:3px;
    font-size:3.25rem;
}

#login-form-container{
    margin-top:2rem;
    height:50vh;
}
#login-form-container h3{
    text-align: center;
    font-weight: bold;
    text-transform:uppercase;
}
.login-buttons{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.form-wrapper .login-buttons .create-account{
    width:10em;
}

#failed-login-attempt .false{
    display:none;
}

#failed-login-attempt .true{
    color:red;
    font-size: 1.25rem;
}